:{$PORT} {
    root * /srv
    file_server
    try_files {path} /index.html
    encode gzip zstd
    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
